/* utility */

[class*="col"] {
    /* border: 1px solid black; */
}

a {
    text-decoration: none;
    display: inline-block;
}

.butn {
    padding: 0.5em 0.8em;

    border-radius: 30px;
    border: none;
    color: white;
}


.butn-blue {
    background-color: #2D64E6;
}

.butn-blue:hover {
    outline: 2px double #2D64E6;
    outline-offset: 1px;
}


.butn-orange {
    background-color: #CD3D0F;
}

.butn-orange:hover {
    outline: 2px double #CD3D0F;
    outline-offset: 1px;
}

.butn-gray {
    background-color: #D9DADC;
    color: blue;
}

.butn-gray:hover {
    outline: 2px double blue;
    outline-offset: 1px;
}

.butn-black {
    background-color: #000000;
    color: white;
}

.butn-black:hover {
    outline: 2px double black;
    outline-offset: 1px;
}

.butn-white {
    background-color: white;
    color: black;
}

.butn-white:hover {
    outline: 2px double white;
    outline-offset: 1px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 22px;
}

img {
    width: 100%;
}



/* style */

/* header */

header .logo-sony {
    background-color: black;
}

header .logo-sony img {
    width: 100px;
    padding: 0.5rem;

    background-color: black;
}

header .right-nav {
    list-style: none;
}

header a {
    color: black;
}

.dropdown-toggle::after {
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 10px;

    border: none;
}

.show.dropdown-toggle::after {
    transform: rotate(180deg);
}

header .list_style a {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    margin: 0 1.5rem;
}

.play-choose li {
    border: 2px solid transparent;
    padding: 0 0.8rem;
    text-align: center;
}

.play-choose a:hover {
    background-color: white;
}

.play-choose li:hover {
    border: 2px solid gray;

}

header .list_style a:hover {
    color: blue;
    background-color: white;
}




/* hero */

.hero {
    margin-top: 114px;
    padding: 3rem 1rem;

    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.hero .hero-banner {
    width: 300px;

    margin-top: 15rem;
}


/* playstation content */

/* cards */

.play-content img,
.release img {
    border-radius: 15px;
}

.play-content img {
    cursor: pointer;
    transition: 0.5s;
}

.play-content img:hover {
    transform: translate(0, -10px);
}



/* news */

/* console */

.thumbs .col {
    padding: 1rem 2rem;
    border-bottom: 2px solid transparent;
    filter: opacity(0.7);
    cursor: pointer;
}

.thumbs .col:hover {
    filter: opacity(1);
    border-bottom: 2px solid blue;

}



/* takes two */

.takes-two {

    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.takes-two img {
    width: 200px;
}

/* release */

.release {
    background-color: #1F1F1F;
}

.cards-release {
    cursor: pointer;
}

/* play plus */

.play-plus {
    background-color: #BEBCBB;

}

.play-plus .play-monthly {
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);

    background-size: cover;
    background-position: center center;
}

/* play now */

.play-now {
    background-color: #161C3B;
}

.play-now .play-monthly {
    background-image: url(../img/ps-now-april-featured-image-block.png);

    background-size: cover;
    background-position: center center;
}

/* social */

.social .col img {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .social {
        padding: 0 5rem;
    }
}


@media screen and (min-width: 992px) {
    .social {
        padding: 0 8rem;
    }
}


/* footer */

footer {
    background-color: #00439C;
}

footer .logo-footer {
    width: 20%;
}

footer .language-globe {
    width: 20px;
}

footer ul a {
    color: white;
    margin-left: 1.8rem;
    margin-bottom: 0.8rem;
}

footer .logo-sie {
    width: 20%;
}

footer .underline {
    text-decoration: underline;
    color: white;
}