/* reset */

[class*="col"] {
    /* border: 1px solid black; */
}

a {
    text-decoration: none;
    display: inline-block;
}

.butn {
    padding: 0.5em 0.8em;

    border-radius: 30px;
    border: transparent;
    color: white;
}

.butn-blue {
    background-color: #2D64E6;
}

.butn-orange {
    background-color: #CD3D0F;
}

.butn-gray {
    background-color: #D9DADC;
    color: blue;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 22px;
}

img {
    width: 100%;
}



/* style */

/* header */

header .logo-sony {
    background-color: black;
}

header .logo-sony img {
    width: 100px;
    padding: 0.5rem;

    background-color: black;
}

header .right-nav {
    list-style: none;
}

header a {
    color: black;
}

/* hero */

.hero {
    margin-top: 114px;
    padding: 3rem 1rem;

    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.hero .hero-banner {
    width: 300px;

    margin-top: 15rem;
}


/* playstation content */

/* cards */

.play-content img,
.release img {
    border-radius: 15px;
}

/* news */

/* console */

.thumbs .col {
    padding: 1rem 2rem;
}

/* takes two */

.takes-two {

    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.takes-two img {
    width: 200px;
}

/* release */

.release {
    background-color: #1F1F1F;
}

/* play plus */

.play-plus .plus-logo {
    width: 100px;
    object-fit: contain;
    display: inline-block;
}